@page "{teamId:int}"
@model GoalManager.Web.Pages.GoalManagement.AddGoalPeriodModel
@{
    ViewData["Title"] = "Add Goal Period";
}

<h1 class="bg-info text-white mb-2 p-1">Add Goal Period</h1>
<alert-messages error-messages="Model.ErrorMessages" success-messages="Model.SuccessMessages"></alert-messages>
