@page "{id:int}"
@model GoalManager.Web.Pages.Organisation.UpdateTeamModel
@{
    ViewData["Title"] = "Update Team";
}

<h1 class="bg-info text-white mb-2 p-1">Update organisation</h1>
<alert-messages error-messages="Model.ErrorMessages" success-messages="Model.SuccessMessages"></alert-messages>
