@page
@model GoalManager.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>List organisations - <a class="btn btn-sm btn-primary" asp-page="/Organisation/List">Click here</a></h2>
</div>

