@page
@model GoalManager.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Goal Manager DDD Sample App</h1>
    <h2 class="display-6">Modules</h2>
    <ul class="list-group list-group-flush fs-4">
        <li class="list-group-item"><a asp-page="/Organisation/List">Organisation</a></li>
        <li class="list-group-item"><a asp-page="/Notification/List">Notifications</a></li>
    </ul>
</div>

