@page
@model GoalManager.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Goal Manager DDD Sample App</h1>
    <h2 class="display-6">Modules</h2>
    <h3><a asp-page="/Organisation/List">Organisation</a></h3>
</div>

